---
title: صفحه نخست
---
<section class="bg-secondary">
  <div class="container">
    <div class="row justify-content-center align-content-center" style="min-height: 10rem;">
      <div id="options">
        <div class="option-set form-ui" lass="button-group filter-button-group btn-group-toggle m-auto" data-toggle="buttons">
          <!-- <input type="checkbox" value=""        id="brand-all" class="all" checked /><label for="brand-all">all brands</label>-->
          {% for tag in site.tags %}
           <span class="option-set" data-group="{{tag.short_name}}"><label class="btn btn-lg btn-outline-light mx-1"  for="{{tag.short_name}}"><input class="ckbxBtn" type="checkbox" value=".{{tag.short_name}}" id="{{tag.short_name}}"  name="{{ tag.title }}" autocomplete="off" />{{tag.title}}</label></span>
          {% endfor %}
        </div>
    </div>

    </div>
  </div>

</section>
<section class="bg-light">
<div class="container">
  <!-- <div class="row">
    <label class="btn btn-lg btn-outline-light mx-1"  for="{{tag.short_name}}"><input class="ckbxBtn" type="checkbox" autocomplete="off" /></label>

    <p id="filter-display"></p>
  </div> -->

  <div id="wrapper" class="row py-3">
    {% for post in site.posts %}
    {% include card.html %}
    {% endfor %}
  </div>
</div>
</section>
