<section class="bg-warning text-nfdefault">
<div class="container bc-icons-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb red bg-warning">
      <li class="breadcrumb-item">
        <a class="" href="/"><i class="fas fa-home ml-1" aria-hidden="true"></i></a>
        <i class="fas fa-angle-double-left mx-2" aria-hidden="true"></i>
      </li>
      {% if layout.parent_name %}
      <li class="breadcrumb-item">
        <a class="black-text" href="{{layout.parent_url}}">{{layout.parent_name}}</a>
        <i class="fas fa-angle-double-left mx-2" aria-hidden="true"></i>
      </li>
      {% endif %}
      <li class="breadcrumb-item active">{{page.title}}</li>
    </ol>
  </nav>
</div>
</section>
