<div class="col-sm-3 ">
<div id="card" class="no-padding {{ post.tags | join: ' ' }}" onclick="location.href='{{post.url}}';">
  <div id="card-text">
    <div id="card-meta">{% for category in post.categories %}{% assign cat = site.categories | where: 'short_name', category | first %}{% if cat %} <a href="{{cat.url}}">{{cat.title}}</a>{% endif %}{% endfor %}</div>
    <h2 id="card-title">{{ post.title }}</h2>
    <p>
      <small><i class="fas fa-user-circle" aria-hidden="true"></i> کتاب: {% assign author = site.authors | where: 'short_name', post.author | first %}{% if author %} <a href="{{ author.url }}">{{author.title}}</a>{% endif %}</small>
      <small><i class="far fa-user-circle" aria-hidden="true"></i> نقد: {% assign critic = site.critics | where: 'short_name', post.critic | first %}{% if critic %} <a href="{{ critic.url }}">{{critic.title}}</a>{% endif %}</small>
    </p>
  </div>

  <img id="card-image" src="{{post.coverImg}}" />
</div>
</div>
