<div class="card {{ post.categories | join: ' ' }}" style="width: 18rem;">
  <img class="card-img-top" src="{{post.coverImg}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
    <p class="card-text">{{ post.date | date: "%b %-d, %Y" }}</p>
  </div>
  <ul class="list-group list-group-flush">
    {% if post.doRead %}<li class="list-group-item"><small><strong>بخوانید اگر: </strong>{{post.doRead}}</small></li>{% endif %}
    {% if post.dontRead %}<li class="list-group-item"><small><strong>نخوانید اگر: </strong>{{post.dontRead}}</small></li>{% endif %}
  </ul>
  <div class="card-footer">
    <small class="text-muted">{% for category in post.categories %}{% assign cat = site.categories | where: 'short_name', category | first %}{% if cat %} <a href="{{cat.url}}">{{cat.title}}</a>{% endif %}{% endfor %}</small>
  </div>
</div>
