body {
	font-family: IRANSans !important;
	font-weight: 300;
}
.current {
  color: green;
  font-weight: bold;
}
.grid-item {
  width: 25%;
  margin: 5px;
  padding: 10px;
}
.grid-item--width2 { width: 50%; }
a.button.active {
  background: #F76B48;
  border: 1px solid #F76B48;
  color: #fff;
}
.box-shadow { -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); padding: 20px; background: white; border-radius: 5px; margin: 10px 0; }
.box-shadow_img {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: top;
    display: block;
    width: 100%;
height: auto;
}
.box-shadow_txt {
  padding: 10px !important;
}
.no-padding {
    padding: 0px !important;
}
.btn.btn-light.active {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
  outline: none;
  box-shadow: none;
}
.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
    background-size: cover;
}
.view {
    margin-top: -56px;
}
.navbar {
    z-index: 1;
}
.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
content: none; }
.bc-icons-2 .breadcrumb-item.active {
color: #455a64; }
#text-card {
	background-size: 100% auto;
	cursor: pointer;
	background-position:center center;
}

p {
  margin: 0;
}

#filter-display {
  font-size: 18px;
  padding: 0.5em;
  border: 1px solid #CCC;
  color: blue;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; color: black; }
.ckbxBtn {display: none !important;}

// Easing Properties

// PX to EM





#card {
  background-color: #111;
  border-radius: 8px;
  overflow: hidden;
	height: 412px;
	cursor: pointer;
  backface-visibility: hidden;
}

#card-image {
  height: 412px;
  object-fit: cover;

}

#card-meta {
  font-size: em(11);
  letter-spacing: 1px;
  &:before {
    content: '';
    height: 1px;
    width: 30px;
    background-color: #fff;
    position: relative;
    display: block;
    margin-bottom: 10px;
    backface-visibility: hidden;
    opacity: 0;
  }
}

#card-text {
  color: #FFF;
  position: absolute;
  padding: 10px;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
	margin-left: 15px;
	background-image: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0));
	border-radius: inherit;
}

#card-title {
  margin: 8px 0;
  font-weight: bold;
  font-size: em(30);
	text-align: right;
}

#card a {
  &:hover {
    .card-text {
      background-color: rgba(#111, .86);
      color: #111;
    }
    #card-meta {
      &:before {
        transform: translate(0,0);
        background-color: #111;
        opacity: 1;
        //@include transition(all 200ms $easeOutQuad);
      }
    }

    #card-image {
      transform: translate(20px,0);
      //@include transition(all 400ms $easeOutQuad);
    }
  }
}
