<!doctype html>
<html  dir="rtl" lang="fa">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
  </head>
  <body class="text-dark text-justify">
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/custom.js"></script>

  </body>
</html>
