---
layout: default
---
<section class="bg-warning text-nfdefault">
<div class="container bc-icons-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb red lighten-4 bg-warning">
      <li class="breadcrumb-item">
        <a class="black-text" href="/"><i class="fas fa-home ml-1" aria-hidden="true"></i></a>
        <i class="fas fa-angle-double-left mx-2" aria-hidden="true"></i>
      </li>
      {% for category in page.categories %}{% assign cat = site.categories | where: 'short_name', category | first %}
      {% if cat %}
      <li class="breadcrumb-item">
        <a class="black-text" href="{{cat.url}}">{{cat.title}}</a>
        <i class="fas fa-angle-double-left mx-2" aria-hidden="true"></i>
      </li>
      {% endif %}
      {% endfor %}
      <li class="breadcrumb-item active">{{page.title}}</li>
    </ol>
  </nav>
</div>

</section>
<section>

  <div class="container  py-3">
    <div class="row">
    <div class="col-8">
      <small>{% for category in page.categories %}{% assign cat = site.categories | where: 'short_name', category | first %}{% if cat %} <a href="{{cat.url}}">{{cat.title}}</a>{% endif %}{% endfor %}</small>
      <h3>{{page.title}}</h3>
      <p>
        <small>نقدِ {% assign critic = site.critics | where: 'short_name', page.critic | first %}{% if critic %} <a href="{{ critic.url }}" title="{{critic.position}}">{{critic.title}}</a>{% endif %}</small>
        <small>بر </small>
        <small>کتابِ {% assign author = site.authors | where: 'short_name', page.author | first %}{% if author %} <a href="{{ author.url }}">{{author.title}}</a>{% endif %}</small>
      </p>
      {% if page.bookIntro %}<p>{{page.bookIntro }}</p>{% endif %}
      {% if page.doRead %}<p><strong>بخوانید اگر: </strong>{{page.doRead}}</p>{% endif %}
      {% if page.dontRead %}<p><strong>نخوانید اگر: </strong>{{page.dontRead}}</p>{% endif %}
      <h5>شناسنامه کتاب:</h5>
      <ul>
        {% if page.titleFa %}<li>عنوان کتاب: {{page.titleFa}}</li>{% endif %}
        {% if page.author %}<li>نویسنده: {% assign author = site.authors | where: 'short_name', page.author | first %}{% if author %} <a href="{{ author.url }}">{{author.title}}</a>{% endif %}</li>{% endif %}
        {%if page.titleEn%}
        <li> عنوان اصلی: {{page.titleEn}}</li>
        <li>مترجم: {{page.translator}}</li>
         {%endif%}
         {% if page.publisher %}<li>ناشر: {% assign publisher = site.publishers | where: 'short_name', page.publisher | first %}{% if publisher %} <a href="{{ publisher.url }}">{{publisher.title}}</a>{% endif %}</li>{% endif %}
         {% if page.pubDate %}<li>تاریخ و نوبت نشر: {{page.pubDate}}</li>{% endif %}
         {% if page.page %}<li>تعداد صفحه: {{page.page}}</li>{% endif %}
      </ul>
      <small>
        <i class="fa fa-tag" aria-hidden="true"></i>{% for tag in page.tags %}{% assign ptag = site.tags | where: 'short_name', tag | first %}{% if ptag %} <a href="{{ptag.url}}">{{ptag.title}}</a>{% endif %}{% endfor %}
        <i class="fa fa-share-alt" aria-hidden="true"></i> <a href="#">اشتراک</a>
      </small>
    </div>
    <div class="col-4">
      <img class="img-fluid" src="{{page.coverImg}}" alt="">
    </div>
</div>
<hr/>
<div class="row">
  <div class="container">
    <h2>نقد کتاب:</h2>
     {{content}}

  </div>
</div>
</section>
